*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
.DS\_Store
build/

# Visual Studio and node ignores
node_modules/
*.suo

#BSTTestdataService ignores
nodePID
service.log

#AppCode
.idea/
